@font-face {
    font-family: PTSans;
    src: url(fonts/PTSans/PTSans-Regular.ttf);
}
@font-face {
    font-family: Parangon530C;
    src: url(fonts/Parangon530C.ttf);
}
@font-face {
    font-family: Futura;
    src: url(fonts/Futura/FuturaMediumC.ttf);
}
@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
}
@font-face {
    font-family: Exo2;
    src: url(fonts/Exo2-Bold.ttf);
}
@font-face {
    font-family: HelveticaNeueCyr;
    src: url(fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
}
* {
    padding: 0;
    margin: 0;
}
.preview-bg {
    background:url(img/prev-bg\ \(overlay\).png);
    background-size: cover;
    padding: 250px 0 122px 0;
}
.preview {
    font-family: PTSans;
    color: white;
    width: 1245px;
    margin: 0 auto ;
    text-align: center;
}
.preview-h1 {
    font-family: Parangon530C;
    font-size: 48pt;
    text-align: center;
    text-transform: uppercase;
    width: 1080px;
    line-height: 72pt;
    margin-left: 45px;
    letter-spacing: normal;
}
.preview-p {
    font-size: 24pt;
    line-height: 36pt;
    width: 832px;
    text-align: center;
    margin-top: 58px;
    margin-left: 180px;
}
.adv-block {
    margin-top: 59px;
}
.adv1 {
    margin-right: 59px;
}
.adv3 {
    margin-left: 59px;
}
.info-header-bg {
    background: white;
    border-bottom: 2px solid #adadad;
    margin-bottom: 127px;
}
.info-header {
    text-align: right;
    padding: 41px 0 33px 0;
    font-family: Futura;
    font-size: 25pt;
    color: black;
    width: 1245px;
    margin: 0 auto;
}
.info-ul {
    display: flex;
    list-style-type: none;
    margin-left: 350px;
}
.info-li {
    margin-left: 42px;
}
.info-li:hover {
    color: #f6ae48;
    cursor: pointer;
}
.info-studio {
    width: 1245px;
    margin: 0 auto;
    background-image: url(img/WE.png); 
    background-repeat: no-repeat;
    display: flex;
    padding: 50px 0 66px 0;
    color: black;
    margin-bottom: 163px;
}
.info-h3 {
    font-family: HelveticaNeueCyr-Bold;
    font-size: 48pt;
    text-align: left;
    margin-top: 35px;
}
.info-p {
    font-family: arial;
    font-size: 16pt;
    margin-left: 223px;
}
.info-advan {
    width: 1245px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 250px;
}
.advan1, .advan2, .advan3 {
    width: 402px;
    font-family: arial;
    font-weight: 400px;
    font-size: 13.34pt;
    padding: 13px 31px 21px 26px;
    height: 392px;
}
.advan1:hover, .advan2:hover, .advan3:hover {
    background: #f6ae48;
    color: white;
}
.advan1:hover .rocket-img {
    content: url(img/rocket.png);
}
.advan2:hover .mobile-img {
    content: url(img/mobile.png);
}
.advan3:hover .lifeline-img {
    content: url(img/lifeline.png);
}
.advan1:hover .advan-invisible, .advan2:hover .advan-invisible, .advan3:hover .advan-invisible {
    display: flex;
}
.advan-h4 {
    font-weight: bold;
    font-size: 18.45pt;
    margin-top: 12px;
}
.advan-p {
    margin-top: 15px;
}
.advan-invisible {
    margin-top: 25px;
    display: none;
}
.advan-price {
    margin-right: 180px;
    padding: 7px 12px 7px 16px ;
    border: 2px solid #ffffff;
}
.arrow {
    width: 22px;
    height: 22px;
    margin-top: 10px;
}
.kredo-bg {
    background: url(img/kredo-bg.png);
    background-size: cover;
}
.kredo-block {
    width: 1245px;
    margin: 0 auto;
    font-family: HelveticaNeueCyr;
    font-size: 20pt;
    text-align: center;
    color: white;
    padding: 123px 0 160px 0;
}
.kredo-h2 {
    font-family: Exo2;
    font-size: 50pt;
    margin-bottom: 78px;
    text-transform: uppercase;
}
.kredo-p {
    font-weight: 400;
}
.razrabotka-block {
    width: 666px;
    height: 526px;
    background: url(img/razrabotka.png);
    background-repeat: no-repeat;
    font-family: Parangon530C;
    font-size: 45pt;
    padding: 133px 203px 348px 130px;
    color: white;
}